.instagram {
  padding: rem-calc(100 0);
  background: $color-2;

  @media(max-width: $sm) {
    padding: rem-calc(80 0);
  }

  &__inner {
    max-width: 360px;
    margin: 0 auto;
    text-align: center;

    img {
      padding: rem-calc(45 0 40);
    }
  }

  &__title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05em;

    a {
      transition: opacity $time-sm;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__text {
    max-width: 300px;
    margin: 0 auto;
  }
}
