.issues {
  padding: rem-calc(0 0 100);
  background: $color-2;

  @media(max-width: $sm) {
    padding: rem-calc(80 0);
  }

  &__list {
    border-top: 1px solid $color-1;
  }

  &__item {
    text-transform: uppercase;
    border-bottom: 1px solid $color-1;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem-calc(8 70);

    @media (max-width: $sm) {
      padding: rem-calc(50 0);
    }
  }

  &__name {
    font-size: rem-calc(20);
    font-weight: 500;
    letter-spacing: 0.05em;
  }

  &__number {
    font-size: 12px;
  }

  &__image {
    font-size: 0;

    @media (max-width: $sm) {
      display: none;
    }
  }
}
