.contact {
  position: relative;
  overflow: auto;
  background: $color-2;

  &__image {
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;

    @media (max-width: $lg) {
      display: none;
    }

    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin-bottom: rem-calc(40);
  }

  &__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 535px;
    max-width: 50%;
    min-height: 100vh;
    margin-left: auto;
    padding: rem-calc(120 0 120) 100px;

    @media (max-width: $lg) {
      width: auto;
      max-width: 470px;
      min-height: 100vh;
      margin: 0 auto;
      padding: rem-calc(120 0 50);
    }

    .default-form {
      width: 100%;
    }
  }
}
