.find-us {
  padding: rem-calc(100 0);
  background: $color-2;

  @media (max-width: $sm) {
    padding: rem-calc(80 0 40);
  }

  &__inner {
    display: flex;
    margin: 0 -15px;

    @media (max-width: $sm) {
      display: block;
      max-width: 360px;
      margin: 0 auto;
    }
  }

  &__col {
    width: 50%;
    padding: 0 15px;
    text-align: center;
    display: flex;
    flex-direction: column;

    @include target-ie11 {
      display: block;
    }

    @include target-edge {
      display: block;
    }

    @media (max-width: $sm) {
      width: 100%;
      padding: rem-calc(0 0 50);
    }
  }

  &__image {
    position: relative;
    display: block;
    margin-bottom: rem-calc(40);
    padding-top: 100%;
    transition: opacity $time-md;

    &:hover {
      opacity: 0.6;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    max-width: 300px;
    margin: 0 auto rem-calc(24);
  }

  &__link {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: inline-block;
    margin-top: auto;
    transition: opacity $time-sm;

    &:hover {
      opacity: 0.6;
    }
  }
}
