//grid
$xxsm: 374px;
$xsm: 459px;
$sm: 639px;
$md: 767px;
$lg: 1023px;
$xl: 1199px;
$xxl: 1399px;

//fonts
$font-1: GTAmerica, Helvetica, Tahoma, Arial, sans-serif;


//colors
$color-1: #000;
$color-2: #fff;
$color-3: #7A3721;
$color-4: #F6F2F1;
$color-5: #E02020;
$color-6: #212020;

// timing
$time-sm: 300ms;
$time-md: 500ms;
$time-lg: 800ms;
$time-xl: 1100ms;
