<footer class="footer">
  <div class="container container--default">
    <div class="footer__inner">
      {#<div class="footer__email-col">
        <form class="footer__form" action="">
          <input class="footer__input" type="email" required placeholder="name@address.com"> <span class="footer__input-error">Invalid email address</span> <span class="footer__input-success">Happily Subscribed!</span>
        </form>
      </div>#}
      <div class="footer__nav-col">
        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a href="/contact.html">Contact</a>
          </li>
          <li class="footer__nav-item">
            <a href="https://www.instagram.com/jmarshallbeds/" target="_blank">Instagram</a>
          </li>
          <li class="footer__nav-item">
            <a href="https://facebook.com/jmarshallbeds" target="_blank">Facebook</a>
          </li>
          <li class="footer__nav-item">
            <a href="/uploads/JMarshall Brochure Digital 2019.pdf" target="_blank">Catalogue</a>
          </li>
          <li class="footer__nav-item">
            <a href="/privacy-policy.html">Privacy Policy</a>
          </li>
          <li class="footer__nav-item">
            <a href="/modern-slavery-act.html">Modern Slavery Act</a>
          </li>
          <li class="footer__nav-item">
            <a href="https://www.vispring.com" target="_blank">Vispring</a>
          </li>
        </ul>
      </div>
      <div class="footer__rights">
        <div class="footer__rights-visible-part">&#169; j.marshall</div>
        <div class="footer__rights-animation-block">
          <div class="footer__rights-curtain">
            <div class="footer__rights-text"> 2019 - Vispring Ltd. All rights reserved</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
