<header class="header" id="header" style="display: none">
  <div id="header-overlay"></div>
  <div class="container container--full">
    <div class="header__inner">
      <nav>
        <ul class="header__nav-list">
          <li class="header__nav-item header__nav-item--configure blurable-on-lang-open">
            <a href="/configurator.html" class="header__nav-btn header__nav-btn--configure" id="configurator-main-btn">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17">
                <path d="M8.5 1v15c4.1 0 7.5-3.4 7.5-7.5S12.6 1 8.5 1zm0 16A8.5 8.5 0 1 1 8.49.01 8.5 8.5 0 0 1 8.5 17z"/>
              </svg>
              <span>Configure</span>
            </a>
          </li>
          <li class="header__nav-item blurable-on-lang-open"><a class="header__nav-btn hide-on-configurator" href="/our-beds.html">Our Beds</a></li>
          <li class="header__nav-item blurable-on-lang-open"><a class="header__nav-btn hide-on-configurator barba-prevent" target="_blank" href="/uploads/JMarshall Brochure Digital 2019.pdf">Catalogue</a></li>
          <li class="header__nav-item blurable-on-lang-open"><a class="header__nav-btn hide-on-configurator" href="/find-us.html">Find Us</a></li>
          <li class="header__nav-item">
            <button class="header__nav-btn header__nav-btn--lang hide-on-configurator" id="language-main-btn"><span>EN</span></button>
            <ul class="header__lang-list">
              <li><a class="active" href="/">English</a></li>
              <li><a href="/">French</a></li>
              <li><a href="/">Spanish</a></li>
              <li><a href="/">German</a></li>
              <li><a href="/">Italian</a></li>
            </ul>
          </li>
          <li class="header__nav-item header__nav-item--burger hide-on-configurator">
            <button class="header__nav-btn header__nav-btn--burger" id="mobile-burger-btn">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.2 16">
                <path d="M0 2V0h18.2v2H0zm0 7V7h18.2v2H0zm0 7v-2h18.2v2H0z"/>
                <path d="M9.1 6.9L14 2l1.1 1.1L10.2 8l4.9 4.9L14 14 9.1 9l-4.9 5-1.1-1.1 5-4.9-5-4.9L4.2 2l4.9 4.9z"/>
              </svg>
            </button>
          </li>
        </ul>
      </nav>
      <div class="header__logo blurable-on-lang-open">
        <a href="/" class="logo hide-on-configurator" id="logo">
          {% include './_svg-logo.twig' %}
          {% include './_svg-vispring.twig' %}
        </a>
      </div>
    </div>
  </div>
  <div class="header__nav-list-mobile">
    {% include "blocks/_nav-list-mobile.twig" %}
  </div>
</header>
<div id="lang-mobile">
  <div id="lang-mobile-overlay"></div>
  <div class="lang-mobile-inner">
    <button class="header__nav-btn header__nav-btn--lang" id="language-mobile-btn"><span>EN</span></button>
    <ul class="header__lang-list">
      <li><a class="active" href="/">English</a></li>
      <li><a href="/">French</a></li>
      <li><a href="/">Spanish</a></li>
      <li><a href="/">German</a></li>
      <li><a href="/">Italian</a></li>
    </ul>
  </div>
</div>

