<div id="nav-list-mobile">
  <ul>
    <li>
      <a href="/">home</a>
    </li>
    <li>
      <a href="/configurator.html">configure</a>
    </li>
    <li>
      <a href="/our-beds.html">our beds</a>
    </li>
    <li>
      <a href="/uploads/JMarshall Brochure Digital 2019.pdf" target="_blank">catalogue</a>
    </li>
    <li>
      <a href="/find-us.html">find us</a>
    </li>
  </ul>
</div>
