---
title: Configurator - J. Marshall
description: Configurator - J. Marshall
configuratorPage: true
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <div data-barba="container" data-barba-namespace="configurator-page">
    <div id="app-configurator"></div>
    <div class="configurator-background">
      <picture>
        {#<source type="image/webp" :srcset="baseURL + 'img/intro-bg.webp'">#}
        <source type="image/jpeg" srcset="img/configurator-bg.jpg">
        <img src="/img/configurator-bg.jpg" alt="background">
      </picture>
    </div>
    <img src="/img/logo.png" id="logo-for-svg" alt="logo for pdf" style="display: none">
  </div>
{% endblock %}
