---
title: Modern Slavery Act - J. Marshall
description: Modern Slavery Act - J. Marshall
slaveryPage: true
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
<div  data-barba="container" data-barba-namespace="slavery-page">
  <div class="privacy-page">
    {% include "sections/_section-slavery-text.twig" %}
  </div>
  {% include "blocks/_footer.twig" %}
</div>
{% endblock %}
