---
title: Privacy Policy - J. Marshall
description: Privacy Policy - J. Marshall
privacyPage: true
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
<div  data-barba="container" data-barba-namespace="privacy-page">
  <div class="privacy-page">
    {% include "sections/_section-privacy-text.twig" %}
  </div>
  {% include "blocks/_footer.twig" %}
</div>
{% endblock %}
