.configurator-header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: calc(50% - 15px);
  padding: rem-calc(35) 60px;
  transition: color 500ms;
  pointer-events: none;
  color: $color-2;

  &::before,
  &::after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    transition: opacity 200ms;
  }

  &::before {
    background: linear-gradient($color-1, transparentize($color-1, 1));
  }

  &::after {
    opacity: 0;
    background: linear-gradient($color-4, transparentize($color-4, 1));
  }

  @media (max-width: $lg) {
    width: 100%;
    padding: rem-calc(37) 30px;
  }

  @media (max-width: $sm) {
    padding: rem-calc(37) 25px;
  }

  &__inner {
    display: flex;
    align-items: center;
    transition: transform $time-md;
    transform: translate3d(0, 0, 0);
  }

  &__mode-buttons {
    display: none;

    @media (max-width: $lg) {
      display: block;
      margin: 0 auto;
      transition: opacity $time-sm;

      button {
        font-size: 14px;
        font-weight: 500;
        padding: rem-calc(10 20);
        transition: opacity $time-sm;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        pointer-events: auto;
        opacity: 0.5;

        @media (max-width: $xsm) {
          font-size: 12px;
        }

        &.active {
          opacity: 1;
        }
      }

      &.hidden {
        opacity: 0;

        button {
          pointer-events: none;
        }
      }
    }
  }

  &__back,
  &__leave {
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    padding: rem-calc(10 0);
    letter-spacing: 0.05em;
    text-transform: uppercase;

    span {
      margin-bottom: rem-calc(2);
    }
  }

  &__back {
    left: 0;
    display: flex;
    align-items: center;
    transition: opacity 500ms;
    pointer-events: none;
    opacity: 0;

    &.visible {
      pointer-events: auto;
      opacity: 1;
    }

    span {
      margin-left: rem-calc(13);
    }

    svg {
      width: 7.5px;
      height: 13.1px;
      fill: $color-1;
    }
  }

  &__leave {
    right: 0;
    margin-left: auto;
    pointer-events: auto;

    @media (max-width: $lg) {
      margin-left: 0;
    }

    span {
      margin-right: rem-calc(13);

      @media (max-width: $md) {
        display: none;
      }
    }

    svg {
      width: 18.2px;
      height: 16px;
      transition: fill 500ms, transform $time-sm;
      fill: $color-2;
    }

    &:hover {

      svg {
        transform: rotate(45deg);
      }
    }
  }

  &.small {
    .configurator-header__inner {
      transform: translate3d(0, rem-calc(-27), 0);
    }
  }

  &.black {
    color: $color-1;

    &::after {
      opacity: 1;
    }

    &::before {
      opacity: 0;
    }

    .configurator-header__back,
    .configurator-header__leave {

      svg {
        fill: $color-1;
      }
    }
  }

  &.black-for-mobile {

    @media (max-width: $lg) {
      color: $color-1;

      &::after {
        opacity: 1;
      }

      &::before {
        opacity: 0;
      }

      .configurator-header__back,
      .configurator-header__leave {

        svg {
          fill: $color-1;
        }
      }
    }
  }
}
