.configurator-out-confirmation {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1000ms;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background: $color-1;
    opacity: 0.5;
    z-index: -1;
  }

  &__inner {
    width: 540px;
    max-width: 100%;
    margin: auto;
    padding: rem-calc(100) 25px;
    color: $color-2;
  }

  &__title {
    font-size: rem-calc(32);
    font-weight: 500;
    line-height: 1.2em;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @media (max-width: $xsm) {
      margin-bottom: rem-calc(30);
    }
  }

  &__buttons {
    display: flex;
    margin: 0 -15px;

    @media (max-width: $xsm) {
      flex-wrap: wrap;
    }
  }

  &__button {
    width: 50%;
    padding: rem-calc(45) 15px 0;

    @media (max-width: $xsm) {
      width: 100%;
      padding: rem-calc(30) 15px 0;
    }
  }
}
