.configurator-result {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  width: calc(50% - 15px);
  height: 100vh;
  padding: rem-calc(117) 60px rem-calc(90);
  color: $color-1;
  background: $color-4;

  @media (max-width: $lg) {
    padding: rem-calc(117) 30px rem-calc(70);
    width: 100%;
  }

  @media (max-width: $sm) {
    padding: rem-calc(117) 25px rem-calc(70);
  }

  &__inner {
    width: 615px;
    max-width: 100%;
    margin: auto;
  }

  &__list {
    padding-bottom: rem-calc(70);
    border-top: 1px solid $color-1;
  }

  &__item {
    font-size: 14px;
    line-height: 1.28em;
    display: flex;
    padding: rem-calc(22 25 22 35);
    border-bottom: 1px solid $color-1;
  }

  &__item-name {
  }

  &__item-value {
    margin-left: auto;

    &.italic {
      font-style: italic;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__button {
    width: 50%;
    //width: 100%;
    padding: rem-calc(45) 15px 0;

    @media (max-width: $xsm) {
      width: 100%;
      padding: 15px 15px 0;
    }

    &:last-child {
      //display: none;
    }

    .button {
      position: relative;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -0.8em;
      margin-left: -0.8em;
      width: 1.6em;
      height: 1.6em;
      animation-name: rotation;
      animation-duration: 0.6s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  &__info {
    font-size: 14px;
    line-height: 1.2em;
    max-width: 320px;
    margin: rem-calc(40) auto 0;
    text-align: center;

    a {
      font-weight: 500;
      letter-spacing: 0.05em;
    }
  }
}
