.configurator-settings {
  width: calc(50% - 15px);
  min-height: 100vh;
  padding: rem-calc(117) 60px rem-calc(90);
  color: $color-2;

  @media (max-width: $lg) {
    width: 100%;
    padding: rem-calc(117) 30px rem-calc(70);
  }

  @media (max-width: $sm) {
    padding: rem-calc(117) 25px rem-calc(70);
  }

  &__steps {
    position: relative;
    max-width: 615px;
    margin: 0 auto;

    @media (max-width: $lg) {
      max-width: none;
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 1px;
      content: '';
      transition: opacity 1000ms;
      opacity: 1;
      background: $color-2;
    }

    &.no-border {

      &::after {
        opacity: 0;
      }
    }
  }

  &__step-heading {
    font-size: 14px;
    position: relative;
    display: flex;
    padding: rem-calc(25 26 25 0);

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 1px;
      content: '';
      background: $color-2;
    }
  }

  &__step-number {
    font-weight: 500;
    padding-right: rem-calc(45);
  }

  &__step-selected {
    margin-left: auto;

    @media (max-width: $sm) {

      &.size {
        display: none;
      }
    }
  }

  &__step-content {
    position: relative;
    overflow: hidden;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 1px;
      content: '';
      transition: opacity 1000ms;
      opacity: 0;
      background: $color-2;
    }

    &.has-border {

      &::before {
        opacity: 1;
      }
    }
  }

  &__step-content-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    padding: rem-calc(30 0 35);

    &--size {
      margin: 0;
    }

    &--fabric {
      padding-bottom: 0;
    }
  }

  &__confirm-button {
    max-width: 615px;
    margin: rem-calc(60) auto 0;

    @media (max-width: $lg) {
      max-width: none;
      display: none;
    }
  }
}
