.configurator-step-item {
  transition: background $time-sm;

  &--size {
    width: 20%;
    padding: 25px 15px 15px;
    text-align: center;
    letter-spacing: 0.05em;

    @media (max-width: $xxl) {
      width: 33.3333%;
    }

    @media (max-width: $lg) {
      width: 20%;
    }

    @media (max-width: $sm) {
      width: 100%;

      .configurator-step-item__image {
        display: none;
      }
    }

    &.active {
      background: $color-6;
    }
  }

  &--mattress {
    width: 50%;
    padding: 0 15px 15px;

    @media (max-width: $sm) {

      .configurator-step-item__inner {
        padding-top: 15px;
      }
      .configurator-step-item__image {
        display: none;
      }
    }

    &.active {

      .configurator-step-item__inner {
        background: $color-6;
      }

      .configurator-step-item__image {
        opacity: 0.6;
      }
    }

    .configurator-step-item__image {

      img {
        width: 100%;
      }
    }

    .configurator-step-item__name {
      display: flex;
      align-items: flex-end;

      @media (max-width: $xl) {
        flex-direction: column;
        align-items: flex-start;
      }

      & > span {
        padding: rem-calc(0 20);

        &:first-child {
          margin-right: auto;
          white-space: nowrap;

          @media (max-width: $xl) {
            padding-bottom: rem-calc(15);
          }
        }

        &:last-child {
          text-align: right;

          @media (max-width: $xl) {
            text-align: left;
          }
        }
      }
    }
  }

  &--fabric {
    width: 20%;
    text-align: center;
    padding: 0 15px 0;
    margin-bottom: rem-calc(15);

    @media (max-width: $xl) {
      width: 25%;
    }

    @media (max-width: $xsm) {
      width: 33.3333%;
    }

    &.active {

      .configurator-step-item__inner {
        background: $color-6;
      }

      .configurator-step-item__image {
        opacity: 0.6;
      }
    }

    .configurator-step-item__image {
      margin-bottom: 15px;

      img {
        width: 100%;
      }
    }

    .configurator-step-item__name {
      text-transform: uppercase;
    }
  }

  &--legs {
    width: 33.3333%;
    text-align: center;
    padding: 0 15px 15px;

    @media (max-width: $sm) {
      width: 100%;

      .configurator-step-item__image {
        display: none;
      }

      .configurator-step-item__inner {
        padding-top: 15px;
      }
    }

    &.active {

      .configurator-step-item__inner {
        background: $color-6;
      }

      .configurator-step-item__image {
        opacity: 0.6;
      }
    }

    .configurator-step-item__image {
      margin-bottom: 15px;

      img {
        width: 100%;
      }
    }

    .configurator-step-item__name {
      text-transform: uppercase;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    height: 100%;
    transition: background $time-sm;

    @include target-ie11 {
      display: block;
    }
  }

  &__image {
    margin-bottom: 21px;
    transition: opacity $time-sm;
  }

  &__name {
    font-size: 14px;
    line-height: 1.21em;
    font-weight: 500;
    margin-top: auto;

    @media (max-width: $xl) {
      margin-top: 0;
    }
  }
}
