<div class="locations-list">
  <div class="container container--type-2">
    <ul class="locations-list__items">
      <li class="locations-list__item">
        <a class="locations-list__link" target="_blank" data-cursor-type="arrow" href="https://www.andsotobed.co.uk/showrooms.html"></a>
        <div class="locations-list__col-logo">
          <img src="img/ASTB_Logo_RGB_Charcoal.png" alt="logo">
        </div>
        <div class="locations-list__col-button">
          <a href="https://www.andsotobed.co.uk/showrooms.html" target="_blank" class="button" data-cursor-type="arrow">View 20 Locations</a>
        </div>
      </li>
      <li class="locations-list__item">
        <a class="locations-list__link" target="_blank" data-cursor-type="arrow" href="https://www.bedsareuzzz.co.uk/locations"></a>
        <div class="locations-list__col-logo">
          <img src="img/beds-are-uzzz.png" alt="logo">
        </div>
        <div class="locations-list__col-button">
          <a href="https://www.bedsareuzzz.co.uk/locations" target="_blank" class="button" data-cursor-type="arrow">View 6 Locations</a>
        </div>
      </li>
    </ul>
  </div>
</div>
