<section class="beds-builder">
  <div class="beds-builder__info">
    <div class="beds-builder__info-inner">
      <h2 class="title title--lg">Build your J. Marshall <br>by Vispring</h2>
      <div class="text-container">
        <p>This is where you can build your bed to see what the finished design looks like. Choose your mattress, customise the headboard fabric, swap divan leg colours and make it your own.</p>
      </div>
      <div class="beds-builder__now">
        <a href="/configurator.html" class="button-now">Design your bed
          <span>Now</span>
        </a>
      </div>
    </div>
  </div>
  <div class="beds-builder__steps">
    <div class="beds-builder__bg">
      {#<picture>
        <source type="image/webp" srcset="/img/beds-builder-bg.webp">
        <source type="image/jpeg" srcset="/img/beds-builder-bg.jpg">
        <img src="/img/beds-builder-bg.jpg" alt="beds builder background">
      </picture>#}
      <video data-lazy-src="/video/JMarshall Social Media VID.mp4" type="video/mp4" muted autoplay playsinline loop></video>
    </div>
    {#<div class="beds-builder__steps-inner">
      <ul>
        <li><span>Choose your size</span></li>
        <li><span>Choose your mattress</span></li>
        <li><span>Customise the headboard fabric</span></li>
        <li><span>Swap frame leg colours</span></li>
        <li><span>Get a PDF of your bed and specifications to download and share.</span></li>
      </ul>
    </div>#}
  </div>
</section>
