<div class="instagram" id="instagram">
  <div class="container container--default">
    <div class="instagram__inner">
      <p class="instagram__title">
        <a href="https://www.instagram.com/jmarshallbeds/" target="_blank">@jmarshallbeds</a>
      </p>
      <div class="swiper-container" id="instagram-slider">
        <div class="swiper-wrapper"></div>
      </div>
      <div class="instagram__text text-container text-container--sm">
        <p>
          <a target="_blank" href="https://www.instagram.com/">Catch us on Instagram for our latest <br> inspiration, news and imagery.</a>
        </p>
      </div>
    </div>
  </div>
</div>
