<div class="beds-intro">
  <div class="beds-intro__bg">
{#    <picture>#}
{#      <source type="image/webp" srcset="/img/alexa-bg.webp">#}
{#      <source type="image/jpeg" srcset="/img/alexa-bg.jpg">#}
      <img src="/img/Blurry_Our_Beds (1).jpg" alt="beds intro background">
{#    </picture>#}
  </div>
  <div class="container container--default">
    <div class="beds-intro__inner">
      <div class="beds-intro__content">
        <div class="beds-intro__text text-container">
          <p>We sleep in all sorts of wild and wonderful ways. Which can make choosing a new bed overwhelming – there’s endless choice and lots of jargon. That’s why we created four unique mattress designs to keep it simple.</p>
        </div>
      </div>
      <div class="beds-intro__slider">
        <div class="swiper-container" id="beds-intro-slider" data-cursor-type="arrow-double">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="beds-intro__slide">
                <img src="/img/16.jpg" alt="bed image">
                <span>No. 1</span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="beds-intro__slide">
                <img src="/img/17.jpg" alt="bed image">
                <span>No. 2</span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="beds-intro__slide">
                <img src="/img/18.jpg" alt="bed image">
                <span>No. 3</span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="beds-intro__slide">
                <img src="/img/19.jpg" alt="bed image">
                <span>No. 4</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="beds-intro__discover">
    <a class="barba-prevent" href="#mattresses" data-scroll-to="#mattresses">discover bed details</a>
  </div>
</div>
