<section class="intro">
  <div class="intro__bg">
{#    <picture>#}
{#      <source type="image/webp" srcset="/img/intro-bg.webp">#}
{#      <source type="image/jpeg" srcset="/img/NB_Neg_7_10.jpg">#}
      <img src="/img/NB_Neg_2_10_min (1).jpg" alt="intro background">
{#    </picture>#}
  </div>
  <div class="container container--default">
    <div class="intro__content">
      <h1 class="title">Sleep properly</h1>
      <div class="text-container">
        <p>J. Marshall by Vispring is pocket-sprung comfort made simple. Our four mattress designs are filled with the finest natural materials and over 100 years of bed-making expertise.</p>
      </div>
      <a class="intro__explore barba-prevent" data-scroll-to="#our-story" href="#our-story">explore</a>
    </div>
  </div>
</section>
