<div class="find-us">
  <div class="container container--type-4">
    <div class="find-us__inner">
      <div class="find-us__col">
        <h3 class="title title--lg">Find your nearest store</h3>
        <a href="/find-us.html" class="find-us__image">
          <img data-lazy-src="/img/47.jpg" alt="find us image">
        </a>
        <div class="find-us__text text-container">
          <p>Join us in store to test out pocket-sprung comfort for yourself.</p>
        </div>
        <a href="/find-us.html" class="find-us__link">Find us</a>
      </div>
      <div class="find-us__col">
        <h3 class="title title--lg">Get in touch</h3>
        <a href="/contact.html" class="find-us__image">
          <img data-lazy-src="/img/48.jpg" alt="find us image">
        </a>
        <div class="find-us__text text-container">
          <p>We’ll be happy to answer any questions.</p>
        </div>
        <a href="/contact.html" class="find-us__link">Contact us</a>
      </div>
    </div>
  </div>
</div>
