<section class="intro-text">
  <div class="container container--default">
    <div class="intro-text__inner">
      <h1 class="title">Find Us</h1>
      <div class="text-container">
        <p>J. Marshall beds are available with the following stockist in the United Kingdom:</p>
      </div>
    </div>
  </div>
</section>
