{#
<div class="issues">
  <div class="container container--type-2">
    <ul class="issues__list">
      <li class="issues__item">
        <a class="issues__link" href="/" data-cursor-type="arrow">
          <span class="issues__name">paradISO. ISSUE 05</span>
          <span class="issues__number">P 32/26</span>
          <span class="issues__image">
          <img src="https://via.placeholder.com/72x90/999999/FFFFFF" alt="issue image">
        </span>
        </a>
      </li>
      <li class="issues__item">
        <a class="issues__link" href="/" data-cursor-type="arrow">
          <span class="issues__name">paradISO. ISSUE 05</span>
          <span class="issues__number">P 32/26</span>
          <span class="issues__image">
          <img src="https://via.placeholder.com/72x90/999999/FFFFFF" alt="issue image">
        </span>
        </a>
      </li>
      <li class="issues__item">
        <a class="issues__link" href="/" data-cursor-type="arrow">
          <span class="issues__name">paradISO. ISSUE 05</span>
          <span class="issues__number">P 32/26</span>
          <span class="issues__image">
          <img src="https://via.placeholder.com/72x90/999999/FFFFFF" alt="issue image">
        </span>
        </a>
      </li>
    </ul>
  </div>
</div>
#}
