<section class="story" id="our-story">
  <div class="container container--type-2">
    <div class="story__above">
      <div class="story__above-col">
        <h2 class="story__title title">Modern day beds<br>over 100 years of <br>expertise</h2>
        {#<div class="story__sub-title">
          Sleeping properly <br>
          had arrived <br>
          in style.
        </div>#}
      </div>
      <div class="story__above-col story__above-col--text">
        <div class="text-container">
          <p>In 1899, James Marshall, a young British engineer invented the pocket-sprung mattress. His Vispring beds, with their unmatched comfort found their way into the world’s most lavish bedrooms.</p>
          <p>Of course a lot has changed since then but an incredible night’s sleep is as important as ever.</p>
          <p>J. Marshall mattresses provide Vispring’s traditional pocket-sprung comfort and support in four simple models for modern living.</p>
        </div>
      </div>
    </div>
    <div class="story__below">
      <div class="story__image story__image--big">
        <img data-lazy-src="/img/story-a.jpg" alt="Vispring best seller">
        {#<span>a.</span>#}
      </div>
      <div class="story__image story__image--small">
        <img data-lazy-src="/img/17_07_2019_J.Marshall_Shot_03_074 (1).jpg" alt="One of our craftsmen">
        {#<span>b.</span>#}
      </div>
      <div class="story__image-caption">
        {#<p>a. Vispring best seller</p>
        <p>b. One of our craftsmen</p>#}
      </div>
    </div>
  </div>
</section>
