<section class="accessories" id="accessories-container">
  <div class="accessories__fixed-image" id="accessories-aside">
    {#    <picture>#}
    {#      <source type="image/webp" srcset="/img/divan.webp">#}
    {#      <source type="image/jpeg" srcset="/img/divan.jpg">#}
    <img data-lazy-src="/img/Background-accessories.jpg" alt="the shallow divan">
    {#    </picture>#}
  </div>
  <div class="accessories__scroll-content">
    <div class="container container--default">
      <div class="accessories__scroll-slide">
        <div class="accessories__scroll-image">
          <div class="accessories__scroll-image-inner">
            <img data-lazy-src="/img/accessories -divan.jpg" alt="image">
          </div>
        </div>
        <div class="accessories__scroll-text">
          <h2 class="title title--md">One Shallow DIVAN</h2>
          <div class="text-container">
            <p>Where sleeping properly starts. We’ve designed a shallow divan that pairs with any of our four mattresses. The bed is finished with a padded upper surface to work with your mattress for even greater comfort.</p>
          </div>
        </div>
      </div>
      <div class="accessories__scroll-slide">
        <div class="accessories__scroll-image">
          <div class="accessories__scroll-image-inner">
            <video data-lazy-src="/video/accessories -JMarshall Fabrics.mp4" type="video/mp4" autoplay playsinline muted loop></video>
          </div>
        </div>
        <div class="accessories__scroll-text">
          <h2 class="title title--md">16 FABRIC choices</h2>
          <div class="text-container">
            <p>Inspired by the vibrant colour palettes of our favourite cities, the J. Marshall fabric range offers a variety of options to complement the modern bedroom. Our four textile ranges each come in four colour options.</p>
          </div>
        </div>
      </div>
      <div class="accessories__scroll-slide">
        <div class="accessories__scroll-image">
          <div class="accessories__scroll-image-inner">
            <img data-lazy-src="/img/accessories -leg.jpg" alt="image">
          </div>
        </div>
        <div class="accessories__scroll-text">
          <h2 class="title title--md">Three LEG choices</h2>
          <div class="text-container">
            <p>Elevate your J. Marshall with a choice of three leg finishes. The contemporary design looks perfectly proportioned and also allows for airflow below the bed to help regulate sleeping temperature. Choose from Classic Brass, contemporary Brushed Steel or Black Chrome finishes.</p>
          </div>
        </div>
      </div>
      <div class="accessories__scroll-slide">
        <div class="accessories__scroll-image">
          <div class="accessories__scroll-image-inner">
            <img data-lazy-src="/img/accessories -Headboard.jpg" alt="image">
          </div>
        </div>
        <div class="accessories__scroll-text">
          <h2 class="title title--md">One HEADBOARD</h2>
          <div class="text-container">
            <p>The J. Marshall headboard is understated – the perfect example of simple, considered design. With beautiful seam detail, radius corners and carefully curated fabric choices – the design is both modern and elegant.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
