<section class="into-beds">
  <div class="container container--type-2">
    <div class="into-beds__heading">
      <h2 class="title title--md">What goes into our beds</h2>
      <div class="text-container">
        <p>Every material and component is chosen to add comfort and quality to our beds and mattresses. Whether it’s finding the fleeciest alpaca hair or studying the best way to hand-tuft a mattress – we go to great lengths to help you sleep properly.</p>
      </div>
    </div>
  </div>
  <div class="into-beds__container">
    <div class="into-beds__content">
      <div class="into-beds__image-wrapper">
        <div class="swiper-container" id="into-beds-image-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="into-beds__image">
                <img data-lazy-src="/img/42.jpg" alt="beds image">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="into-beds__image">
                <img data-lazy-src="/img/43.jpg" alt="beds image">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="into-beds__image">
                <img data-lazy-src="/img/44.jpg" alt="beds image">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="into-beds__image">
                <img data-lazy-src="/img/45.jpg" alt="beds image">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="into-beds__image">
                <img data-lazy-src="/img/46.jpg" alt="beds image">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="into-beds__accordion-wrapper">
        <ul class="accordion" id="beds-accordion" data-cursor-type="plus">
          <li class="accordion__item active">
            <h4 class="accordion__title title title--xsm">Fine, natural fillings</h4>
            <div class="accordion__content" style="height: 0;">
              <div class="accordion__content-inner text-container">
                <p>We use only the purest natural materials to fill our mattresses. From the lightest pashmina to the finest new wool – comfort, moisture-wicking and breathability.</p>
              </div>
            </div>
          </li>
          <li class="accordion__item">
            <h4 class="accordion__title title title--xsm">Belgian Damask ticking</h4>
            <div class="accordion__content" style="height: 0;">
              <div class="accordion__content-inner text-container">
                <p>The layer on the mattress surface is known as ticking. Made with a smooth viscose, it provides a seal to the mattress top and adds an extra level of silkiness wherever you lie. Ours comes from Belgium and is finished in a specially woven pattern.</p>
              </div>
            </div>
          </li>
          <li class="accordion__item">
            <h4 class="accordion__title title title--xsm">Genuine pocketed springs</h4>
            <div class="accordion__content" style="height: 0;">
              <div class="accordion__content-inner text-container">
                <p>The springs used in J. Marshall by Vispring are based on the original design patented in 1901. All that knowledge and expertise has gone into each of our mattress designs to make sure they’re as comfortable as the pioneering original. </p>
              </div>
            </div>
          </li>
          <li class="accordion__item">
            <h4 class="accordion__title title title--xsm">Hand-tufting</h4>
            <div class="accordion__content" style="height: 0;">
              <div class="accordion__content-inner text-container">
                <p>We’re all for modern manufacturing techniques. But sometimes you just have to do things by hand. That’s why we tuft every J. Marshall by Vispring mattress ourselves – it ensures the filling is evenly spread and helps keep the mattress in shape, year after year. </p>
              </div>
            </div>
          </li>
          <li class="accordion__item">
            <h4 class="accordion__title title title--xsm">Biodegradable components</h4>
            <div class="accordion__content" style="height: 0;">
              <div class="accordion__content-inner text-container">
                <p>Unlike foam blocks, every J. Marshall by Vispring bed can easily be broken down and recycled. From the springs to the natural fillings.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
