<section class="mattresses" id="mattresses">
  <div class="container container--default">
    <div class="mattresses__heading">
      <h2 class="title title--md">the mattresses</h2>
      <div class="mattresses__pagination" id="mattresses-pagination"></div>
    </div>
  </div>
  <div class="mattresses__main-slider swiper-container" id="mattresses-content-slider">
    <div class="swiper-wrapper">
      <div class="mattresses__main-slide swiper-slide">
        <div class="container container--default">
          <div class="mattresses__description">
            <h3 class="mattresses__item-title title title--sm">Next-level comfort</h3>
            <div class="mattresses__text">
              <div class="text-container">
                <p>This is where sleeping properly starts. Made with 1000 pocketed springs, No. 1 supports your whole body and responds to every movement. It’s hand-filled with deep layers of wool and cotton to offer total comfort as well as breathability. And we tuft it by hand – keeping fibres in place so they don’t shift over time. No. 1 is finished with a woven layer of Belgian Damask. Known as ticking, it offers a smooth and uninterrupted feel across the whole mattress.</p>
              </div>
            </div>
            <div class="mattresses__options">
              <ul>
                <li>
                  <h4>Technology</h4>
                  <p>1000 pocketed springs</p>
                </li>
                <li>
                  <h4>Materials</h4>
                  <p>Filled with natural fibres (wool and cotton)</p>
                </li>
                <li>
                  <h4>Method</h4>
                  <p>Hand-tufted</p>
                </li>
                <li>
                  <h4>Season</h4>
                  <p>Turnable (sleep on either side)</p>
                </li>
                <li>
                  <h4>Warranty</h4>
                  <p>10-year guarantee</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="mattresses__image-slider swiper-container" data-cursor-type="arrow-double">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="/img/20.jpg" alt="mattresses image">
                <span>No. 1</span>
              </div>
              <div class="swiper-slide">
                <img src="/img/21.jpg" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="/img/22.jpg" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="/img/23.jpg" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="/img/24.jpg" alt="mattresses image">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mattresses__main-slide swiper-slide">
        <div class="container container--default">
          <div class="mattresses__description">
            <h3 class="mattresses__item-title title title--sm">More springs, more support</h3>
            <div class="mattresses__text">
              <div class="text-container">
                <p>No. 2 is made with 1200 pocketed springs for head-to-toe comfort, however you sleep. It’s deep-filled with natural fibres – pure new wool, sustainable Tencel™, soft bamboo and fleecy alpaca – which make for an amazingly comfortable sleep. Hand-tufting the filling keeps the mattress feeling as comfortable year after year. And it’s finished with Belgian Damask ticking (the silky top layer) for a consistently smooth feel.</p>
              </div>
            </div>
            <div class="mattresses__options">
              <ul>
                <li>
                  <h4>Technology</h4>
                  <p>1200 pocketed springs</p>
                </li>
                <li>
                  <h4>Materials</h4>
                  <p>Filled with pure new wool, Tencel™, soft bamboo, alpaca and cotton</p>
                </li>
                <li>
                  <h4>Method</h4>
                  <p>Hand-tufted</p>
                </li>
                <li>
                  <h4>Season</h4>
                  <p>Turnable (sleep on either side)</p>
                </li>
                <li>
                  <h4>Warranty</h4>
                  <p>10-year guarantee</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="mattresses__image-slider swiper-container" data-cursor-type="arrow-double">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="/img/25.jpg" alt="mattresses image">
                <span>No. 2</span>
              </div>
              <div class="swiper-slide">
                <img src="/img/25-1.jpg" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="/img/26.jpg" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="/img/27.jpg" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="/img/28.jpg" alt="mattresses image">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mattresses__main-slide swiper-slide">
        <div class="container container--default">
          <div class="mattresses__description">
            <h3 class="mattresses__item-title title title--sm">Plus Pillow Top</h3>
            <div class="mattresses__text">
              <div class="text-container">
                <p>No. 3 introduces Pillow Top. It’s an extra layer of memory wool (60% polyester, 40% wool) that’s added to the mattress surface for an incredible depth of comfort. Beneath that, No. 3 holds 1400 pocketed springs and is filled with even more natural materials – cotton, wool, soft bamboo, fleecy alpaca and silky pashmina. Elsewhere, the hand-tufted filling keeps the mattress at its best and we add further layers of wool for even more comfort. It’s all finished with Belgian Damask ticking with a viscose that gives the mattress surface an incredibly silky feel.</p>
              </div>
            </div>
            <div class="mattresses__options">
              <ul>
                <li>
                  <h4>Technology</h4>
                  <p>1400 pocketed springs</p>
                </li>
                <li>
                  <h4>Materials</h4>
                  <p>Filled with cotton, wool, pashmina, bamboo and alpaca</p>
                </li>
                <li>
                  <h4>Method</h4>
                  <p>Hand-tufted</p>
                </li>
                <li>
                  <h4>Season</h4>
                  <p>Easy care – one side for sleeping on</p>
                </li>
                <li>
                  <h4>Warranty</h4>
                  <p>10-year guarantee</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="mattresses__image-slider swiper-container" data-cursor-type="arrow-double">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="/img/29.jpg" alt="mattresses image">
                <span>No. 3</span>
              </div>
              <div class="swiper-slide">
                <img src="/img/30.jpg" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="/img/31.jpg" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="/img/32.jpg" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="/img/33.jpg" alt="mattresses image">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mattresses__main-slide swiper-slide">
        <div class="container container--default">
          <div class="mattresses__description">
            <h3 class="mattresses__item-title title title--sm">Comfortably our best</h3>
            <div class="mattresses__text">
              <div class="text-container">
                <p>No. 4 is our most responsive mattress. It’s made with 1600 honeycombed pocket springs and 1500 micro springs for the most comfortable night’s sleep. We hand fill the mattress with pure new wool and cotton. Then we add Pillow Top – an extra layer that sits on the mattress surface for even more comfort. It’s filled with the finest natural materials – pashmina, soft bamboo, alpaca, cashmere and silk. Underneath that you’ll find further layers of wool and a hand-tufted filling that makes sure the mattress keeps its shape over time. It’s finished with Belgian Damask ticking to create a feather-soft surface wherever you lie down. </p>
              </div>
            </div>
            <div class="mattresses__options">
              <ul>
                <li>
                  <h4>Technology</h4>
                  <p>1600 pocketed springs + 1500 micro springs</p>
                </li>
                <li>
                  <h4>Materials</h4>
                  <p>Filled with cotton and wool</p>
                </li>
                <li>
                  <h4>Method</h4>
                  <p>With Pillow Top – an extra layer that’s filled with pashmina, bamboo, alpaca, cashmere and silk</p>
                </li>
                <li>
                  <h4>Season</h4>
                  <p>Easy care – one side for sleeping on</p>
                </li>
                <li>
                  <h4>Warranty</h4>
                  <p>10-year guarantee</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="mattresses__image-slider swiper-container" data-cursor-type="arrow-double">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="/img/34.jpg" alt="mattresses image">
                <span>No. 4</span>
              </div>
              <div class="swiper-slide">
                <img src="/img/35.jpg" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="/img/36.jpg" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="/img/37.jpg" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="/img/38.jpg" alt="mattresses image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
