{#
<div class="video header-style-white" data-cursor-color="white">
  <div class="video__bg">
    <picture>
      <source type="image/webp" srcset="/img/alexa-bg.webp">
      <source type="image/jpeg" srcset="/img/alexa-bg.jpg">
      <img src="/img/alexa-bg.jpg" alt="alexa background">
    </picture>
  </div>
  <div class="container container--type-2">
    <div class="video__inner">
      <div class="video__video-wrapper">
        <video id="home-page-video" data-video-src="/video/alexa.mp4" type="video/mp4" playsinline muted loop></video>
      </div>
      <p class="video__text">Find out how alexa chung sleeps</p>
    </div>
  </div>
</div>
#}
