<section class="looks">
  <div class="looks__section-title-wrapper">
    <h2>J. MARSHALL AT HOME</h2>
  </div>
  <div class="container container--default">
    <div class="looks__slider swiper-container" id="home-looks-slider" data-cursor-type="arrow-double">
      <div class="swiper-wrapper">
        <div class="swiper-slide looks__slide">
          <figure class="looks__image">
            <img src="/img/looks-a.jpg" alt="image">
{#            <figcaption class="looks__image-caption">a.</figcaption>#}
          </figure>
        </div>
        <div class="swiper-slide looks__slide">
          <figure class="looks__image" data-swiper-parallax-y="10" data-swiper-parallax-duration="2500">
            <img src="/img/looks-b.jpg" alt="image">
{#            <figcaption class="looks__image-caption">b.</figcaption>#}
          </figure>
          <div class="looks__description"{# data-swiper-parallax-y="-10" data-swiper-parallax-duration="2500"#}>
{#            <p>a. Tom loves coming back home and laying down on the bed for 5 minutes, before having dinner. A day is not a good day without doing it. </p>#}
          </div>
        </div>
        <div class="swiper-slide looks__slide">
          <figure class="looks__image" data-swiper-parallax-y="-30" data-swiper-parallax-duration="2500">
            <img src="/img/looks-c.jpg" alt="image">
{#            <figcaption class="looks__image-caption">c.</figcaption>#}
          </figure>
        </div>
        <div class="swiper-slide looks__slide">
          <figure class="looks__image">
            <img src="/img/looks-d.jpg" alt="image">
{#            <figcaption class="looks__image-caption">d.</figcaption>#}
          </figure>
        </div>
        <div class="swiper-slide looks__slide">
          <div class="looks__description" {#data-swiper-parallax-y="10" data-swiper-parallax-duration="2500"#}>
{#            <p>d. Tom loves coming back home and laying down on the bed for 5 minutes, before having dinner. A day is not a good day without doing it. </p>#}
          </div>
          <figure class="looks__image" data-swiper-parallax-y="-10" data-swiper-parallax-duration="2500">
            <img src="/img/looks-e.jpg" alt="image">
{#            <figcaption class="looks__image-caption">e.</figcaption>#}
          </figure>
        </div>
        <div class="swiper-slide looks__slide">
          <figure class="looks__image" data-swiper-parallax-y="-30" data-swiper-parallax-duration="2500">
            <img src="/img/looks-f.jpg" alt="image">
{#            <figcaption class="looks__image-caption">f.</figcaption>#}
          </figure>
        </div>
        <div class="swiper-slide looks__slide">
          <figure class="looks__image" data-swiper-parallax-y="10" data-swiper-parallax-duration="2500">
            <img src="/img/looks-g.jpg" alt="image">
{#            <figcaption class="looks__image-caption">g.</figcaption>#}
          </figure>
          <div class="looks__description" {#data-swiper-parallax-y="-10" data-swiper-parallax-duration="2500"#}>
{#            <p>g. Tom loves coming back home and laying down on the bed for 5 minutes, before having dinner. A day is not a good day without doing it. </p>#}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
