<section class="make">
  <div class="make__bg">
    <img src="/img/make-own.jpg" alt="background image">
  </div>
  <div class="container container--default">
    <div class="make__content">
      <div class="make__content-inner">
        <h2 class="title">make your own bed</h2>
        <div class="text-container">
          <p>Once you’ve chosen your mattress, why not pair it with a J. Marshall by Vispring Shallow Divan. Choose different upholstery fabrics and leg colours to tailor the design to your home. Discover all the options below.</p>
        </div>
        <div class="make__button">
          <button class="button-now">Configure <span>Now</span></button>
        </div>
      </div>
    </div>
  </div>
</section>
