<div class="section-image section-image--no-padding-top">
  <div class="container">
    <div class="section-image__image">
      <img data-lazy-src="/img/chicken.jpg" alt="chicken image">
    </div>
  </div>
</div>
