<div class="default-text-section">
  <div class="container container--type-2">
    <h1>Modern Slavery Act Statement</h1>
    <p>J. Marshall by Vispring is owned and operated fully by Vispring Ltd., therefore below statement refers to the company as &lsquo;Vispring&rsquo;.</p>
    <p>&nbsp;</p>
    <p><strong>Policy statement</strong></p>
    <p>Modern slavery is a crime and a violation of fundamental human rights. It takes various forms, such as slavery, servitude, forced and compulsory labour and human trafficking, all of which have in common the deprivation of a person&rsquo;s liberty by another in order to exploit them for personal or commercial gain. Vispring have a zero-tolerance approach to modern slavery and Vispring are committed to acting ethically and with integrity in all business dealings and relationships and to implementing and enforcing effective systems and controls to ensure modern slavery is not taking place anywhere in the business or in any of our supply chains.</p>
    <p>Vispring are also committed to ensuring there is transparency in our own business and in our approach to tackling modern slavery throughout our supply chains, consistent with our disclosure obligations under the Modern Slavery Act 2015. Vispring expect the same high standards from all of our contractors, suppliers and other business partners, and as part of our contracting processes, Vispring include specific prohibitions against the use of forced, compulsory or trafficked labour, or anyone held in slavery or servitude, whether adults or children, and Vispring expect that our suppliers will hold their own suppliers to the same high standards.</p>
    <p>This policy applies to all persons working for us or on our behalf in any capacity, including employees at all levels, directors, officers, agency workers, seconded workers, volunteers, interns, agents, contractors, external consultants, third-party representatives and business partners.</p>
    <p>Failure to comply with this policy may result in disciplinary action, including dismissal, or termination of the contract between you and the Company. It could also involve other legal steps being taken against you.</p>
    <p>This policy does not form part of any employee&rsquo;s contract of employment and Vispring may amend it at any time.</p>
    <p>&nbsp;</p>
    <p><strong>Responsibility for the policy</strong></p>
    <p>The Board of Directors has overall responsibility for ensuring this policy complies with our legal and ethical obligations, and that all those under our control comply with it.</p>
    <p>The Company&rsquo;s Anti-Slavery Officer HR Manager (&lsquo;ASO&rsquo;) is responsible for this policy.</p>
    <p>[The Human Resource Manager has primary and day-to-day responsibility for implementing this policy,] monitoring its use and effectiveness, dealing with any queries about it, and auditing internal control systems and procedures to ensure they are effective in countering modern slavery.</p>
    <p>Management at all levels are responsible for ensuring those reporting to them understand and comply with this policy and are given adequate and regular training on it and the issue of modern slavery in supply chains.</p>
    <p>You are invited to comment on this policy and suggest ways in which it might be improved. Comments, suggestions and queries are encouraged and should be addressed to the Human Resource Manager.</p>
    <p>&nbsp;</p>
    <p><strong>Compliance with the policy</strong></p>
    <p>You must ensure that you read, understand and comply with this policy.</p>
    <p>The prevention, detection and reporting of modern slavery in any part of our business or supply chains is the responsibility of all those working for us or under our control. You are required to avoid any activity that might lead to, or suggest, a breach of this policy.</p>
    <p>You must notify your Manager or the Human Resource Manager or the confidential helpline as soon as possible if you believe or suspect that a conflict with this policy has occurred or may occur in the future.</p>
    <p>The Company makes appropriate checks on all employees, recruitment agencies and suppliers, to know who is working for, or on behalf of us.</p>
    <p>The Company provides every employee with a written contract of employment. Vispring pay every employee in accordance with the law. Vispring comply with legal obligations to ensure the health and safety of all employees and workers, including in relation to working hours, rest breaks and holidays.</p>
    <p>You are encouraged to raise concerns about any issue or suspicion of modern slavery in any parts of our business or supply chains of any supplier tier at the earliest possible stage.</p>
    <p>If you believe or suspect a breach of this policy has occurred or that it may occur, you must notify your Manager or Human Resource Manager or report it in accordance with our Whistleblowing Policy as soon as possible. You should note that where appropriate, and with the welfare and safety of local workers as a priority, Vispring will give support and guidance to our suppliers to help them address coercive, abusive and exploitative work practices in their own business and supply chains.</p>
    <p>If you are unsure about whether a particular act the treatment of workers more generally, or their working conditions within any tier of our supply chains constitutes any of the various forms of modern slavery, raise</p>
    <p>it with your manager or Human Resource Manager or through the confidential helpline.</p>
    <p>Vispring aim to encourage openness and will support anyone who raises genuine concerns in good faith under this policy, even if they turn out to be mistaken. Vispring are committed to ensuring no one suffers any detrimental treatment as a result of reporting in good faith their suspicion that modern slavery of whatever form is or may be taking place in any part of our own business or in any of our supply chains. Detrimental treatment includes dismissal, disciplinary action, threats or other unfavourable treatment connected with raising a concern.</p>
    <p>If you believe that you have suffered any such treatment, you should inform the Human Resource Manager immediately. If the matter is not remedied, and you are an employee, you should raise it formally using our Grievance Procedure, which can be found in the Employee Hand Book.</p>
    <p>&nbsp;</p>
    <p><strong>If you are one of our Suppliers</strong></p>
    <p>If you supply the Company with goods or services, you must assess your business and supply chains and confirm to our ASO that you comply with your legal obligations, in relation to Modern Slavery, and are committed to ensuring there is no slavery, forced labour or servitude, child labour or human trafficking taking place in your business, or any of your supply chains.</p>
    <p>If you breach this policy or are found to have slavery or human-trafficking in your business, or knowingly in your supply chain, the Company may terminate the contract with you and pursue its legal remedies against you.</p>
    <p>&nbsp;</p>
    <p><strong>If you are an Employee or Worker providing services for us</strong></p>
    <p>You must immediately report any suspicions of Modern Slavery or human-trafficking in our business or supply chains to our ASO. Our ASO will investigate and report to our Board of Directors, within a reasonable time, on actions which may require to be taken.</p>
    <p>You will not suffer any detrimental treatment as a result of reporting any genuine concerns, raised in good faith, under this policy. This applies, even if after investigation, they are found to be mistaken. If you believe that you have suffered any such treatment, you should immediately inform our ASO and if you are an employee, refer to our Grievance and Whistleblowing Policies.</p>
    <p>&nbsp;</p>
    <p><strong>Communication and awareness of this policy</strong></p>
    <p>Training on this policy, and on the risk our business faces from modern slavery in its supply chains, forms part of the induction process for all individuals who work for us, and regular training will be provided as necessary.</p>
    <p>Our zero-tolerance approach to modern slavery must be communicated to all suppliers, contractors and business partners at the outset of our business relationship with them and reinforced as appropriate thereafter.</p>
    <p>&nbsp;</p>
    <p><strong>Breaches of this policy</strong></p>
    <p>Any employee who breaches this policy will face disciplinary action, which could result in dismissal for misconduct or gross misconduct.</p>
    <p>Vispring may terminate the relationship with other individuals and organisations working on our behalf if they breach this policy.</p>
  </div>
</div>
