<section class="beds">
  <div class="container container--default">
    <div class="beds__inner">
      <div class="beds__heading">
        <h2 class="title">Our Beds</h2>
        <a class="beds__heading-link" href="/our-beds.html">See Products</a>
      </div>
      <ul class="beds__list">
        <li class="beds__item">
          <a href="/our-beds.html" data-bed-slide="1" data-cursor-type="arrow" class="beds__image"><img data-lazy-src="/img/17_07_2019_J.Marshall_Shot_02_032.jpg" alt="image of some bed"></a>
          <ul class="beds__description">
            <li>
              <span>Name</span> <span>No. 1</span>
            </li>
            <li>
              <span>Type</span> <span>Next-level comfort</span>
            </li>
          </ul>
        </li>
        <li class="beds__item">
          <a href="/our-beds.html" data-bed-slide="2" data-cursor-type="arrow" class="beds__image"><img data-lazy-src="/img/17_07_2019_J.Marshall_Shot_12_008.jpg" alt="image of some bed"></a>
          <ul class="beds__description">
            <li>
              <span>Name</span> <span>No. 2</span>
            </li>
            <li>
              <span>Type</span> <span>More springs, more support</span>
            </li>
          </ul>
        </li>
        <li class="beds__item">
          <a href="/our-beds.html" data-bed-slide="3" data-cursor-type="arrow" class="beds__image"><img data-lazy-src="/img/17_07_2019_J.Marshall_Shot_06_006.jpg" alt="image of some bed"></a>
          <ul class="beds__description">
            <li>
              <span>Name</span> <span>No. 3</span>
            </li>
            <li>
              <span>Type</span> <span>Plus Pillow Top</span>
            </li>
          </ul>
        </li>
        <li class="beds__item">
          <a href="/our-beds.html" data-bed-slide="4" data-cursor-type="arrow" class="beds__image"><img data-lazy-src="/img/17_07_2019_J.Marshall_Shot_04_028.jpg" alt="image of some bed"></a>
          <ul class="beds__description">
            <li>
              <span>Name</span> <span>No. 4</span>
            </li>
            <li>
              <span>Type</span> <span>Comfortably our best</span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
