<section class="up-to-date">
  <div class="container container--default">
    <div class="up-to-date__inner">
      <h2 class="title title--lg">Keep up to date</h2>
      <div class="up-to-date__text text-container text-container--lg">
        <p>J. Marshall is currently only available in the United Kingdom, we are looking to expand across Europe and the rest of the world in the near future. </p>
      </div>
      <div class="text-container text-container--sm">
        <p>Follow us on instagram <a href="https://www.instagram.com/jmarshallbeds/" target="_blank">@jmarshallbeds</a> for all the latest news and updates!</p>
      </div>
    </div>
  </div>
</section>
