.cursor {
  position: fixed;
  z-index: 2147483647;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; // will show on mousemove event
  pointer-events: none;

  &.visible {
    display: block;
  }

  &__pointer {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -3px;
    margin-left: -3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #000;
    transition: transform $time-md, background 100ms;
    will-change: transform;
  }

  &[data-cursor-type="bigger"] {

    .cursor__pointer {
      transform: scale(1.5);
    }
  }

  &[data-cursor-color="white"] {

    .cursor__pointer {
      background: #fff;
    }
  }

  &[data-cursor-type="arrow"] {

    .cursor__pointer {
      width: 30px;
      height: 31px;
      margin-top: -15px;
      margin-left: -15px;
      transform: scale(1);
      border-radius: 0;
      transition: none;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='31'%3E%3Cpath fill='%23000' fill-rule='nonzero' d='M26.08 2.95L6.99 5.5l-.3-1.96L30.02.43l-3.1 23.32-1.97-.3L27.5 4.37 1.51 30.35.09 28.94 26.08 2.95z'/%3E%3C/svg%3E");
    }
  }

  &[data-cursor-type="arrow-double"] {

    .cursor__pointer {
      width: 63px;
      height: 30px;
      margin-top: -15px;
      margin-left: -30px;
      transform: scale(1);
      border-radius: 0;
      transition: none;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='63' height='30'%3E%3Cpath fill='%23000' fill-rule='nonzero' d='M5.27 13.8h52.56L42.23 2.1l1.2-1.6L62.5 14.8 43.43 29.1l-1.2-1.6 15.6-11.7H5.27l15.6 11.7-1.2 1.6L.61 14.8 19.67.5l1.2 1.6-15.6 11.7z'/%3E%3C/svg%3E");
    }
  }

  &[data-cursor-type="plus"] {

    .cursor__pointer {
      width: 30px;
      height: 31px;
      margin-top: -15px;
      margin-left: -15px;
      transform: scale(1);
      border-radius: 0;
      transition: none;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='31'%3E%3Cpath fill='%23000' fill-rule='nonzero' d='M14 16.5H0v-2h14V.5h2v14h14v2H16v14h-2v-14z'/%3E%3C/svg%3E");
    }
  }

  &[data-cursor-type="loader"] {

    .cursor__pointer {
      width: 25px;
      height: 25px;
      margin-top: -15px;
      margin-left: -15px;
      transform: scale(1);
      border-radius: 0;
      transition: none;
      background-color: transparent;
      background-image: url("../img/loader.svg");
      background-size: 100% 100%;
      animation-name: rotation;
      animation-duration: 0.6s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
