.footer {
  position: relative;
  padding: rem-calc(50 0);
  background: $color-4;
  overflow: hidden;

  &__inner {
    //display: flex;
    //align-items: center;

    @media (max-width: $lg) {
      //align-items: flex-start;
    }

    @media (max-width: $sm) {
      //display: block;
    }
  }

  /*&__email-col {
    width: 40%;
    display: none;

    @media (max-width: $lg) {
      padding-top: 10px;
    }

    @media (max-width: $sm) {
      width: 100%;
      padding-top: 0;
    }
  }*/

  &__nav-col {
    font-size: 14px;
    font-weight: 500;
    width: auto;
    margin-left: auto;
    //padding-left: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    max-width: 900px;
    //min-width: 550px;

    /*@media (max-width: $lg) {
      min-width: auto;
      max-width: 550px;
      margin-left: auto;
    }*/

    @media (max-width: $sm) {
      margin-left: 0;
      width: 100%;
      padding: rem-calc(40 0 20);
    }

    @media (max-width: $xsm) {
      font-size: 12px;
    }
  }

  &__form {
    position: relative;
    display: none;
  }

  &__input,
  &__input-success {
    font-size: rem-calc(32);
    font-weight: 500;
    letter-spacing: 0.05em;
    opacity: 0.2;
  }

  &__input-error {
    font-size: 11px;
    font-weight: 500;
    position: absolute;
    bottom: -1.5em;
    left: 0;
    transition: opacity $time-sm;
    opacity: 0;
    color: $color-5;
  }

  &__input-success {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    transition: opacity $time-sm;
    transform: translateY(-50%);
    pointer-events: none;
    opacity: 0;
  }

  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;

    @media (max-width: $lg) {
      margin: 0 -20px;
    }
  }

  &__nav-item {
    width: 25%;
    padding: 8px 30px;

    @media (max-width: $lg) {
      width: 33.3333%;
      padding: 10px 20px;
    }

    @media (max-width: $sm) {
      padding: 15px 20px;
      width: 50%;
    }

    a {
      transition: opacity $time-sm;
      white-space: nowrap;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__rights {
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    left: rem-calc(23);
    display: flex;
    letter-spacing: 0.0em;
    opacity: 0.3;
    padding: rem-calc(13 0);
  }

  &__rights-animation-block {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      content: "+";
      transition: transform $time-md, opacity $time-md;
      transform: translate3d(5px, 0, 0);
    }
  }

  &__rights-visible-part {
    margin-right: 4px;
    white-space: nowrap;
  }

  &__rights-curtain {
    overflow: hidden;
    transition: transform $time-md;
    transform: translate3d(-100%, 0, 0);
  }

  &__rights-text {
    transition: transform $time-md;
    transform: translate3d(100%, 0, 0);
  }

  //rights hover

  &__rights:hover {

    .footer__rights-animation-block {

      &::after {
        transform: translate3d(100%, 0, 0);
        opacity: 0;
      }
    }

    .footer__rights-curtain {
      transform: translate3d(0, 0, 0);
    }

    .footer__rights-text {
      transform: translate3d(0, 0, 0);
    }
  }

  // states of form
  &__form.error {

    .footer__input-error {
      opacity: 1;
    }
  }

  &__form.success {
    pointer-events: none;

    .footer__input {
      opacity: 0;
    }

    .footer__input-success {
      opacity: 0.2;
    }
  }
}
