.header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  left: 0;
  padding: rem-calc(42 0);
  pointer-events: none;

  #header-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 200vh;
    transform: translateX(100%);
    //background: #000;

    &.active {
      transform: translateX(0);
      pointer-events: auto;
    }
  }

  &__inner {
    position: relative;
    transition: transform $time-md;
    transform: translate3d(0, 0, 0);
    pointer-events: none;
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__nav-list {
    font-weight: 500;
    display: flex;
    margin: rem-calc(-2 -25 0);
    transition: opacity $time-xl;
    opacity: 0;
  }

  &__nav-list-mobile {
    display: none;

    @media(max-width: $lg) {
      display: block;
    }
  }

  &__nav-item {

    @media(max-width: $lg) {
      display: none;
    }

    &:nth-child(3) {
      margin-left: auto;
    }
  }

  &__nav-item--configure {

    @media(max-width: $lg) {
      display: flex;
    }
  }

  &__nav-item--burger {
    display: none;

    @media(max-width: $lg) {
      display: flex;
      margin-left: auto;
    }
  }

  &__nav-btn {
    font-size: 14px;
    line-height: 1.1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: rem-calc(0 25);
    transition: opacity $time-sm;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    &:hover {
      opacity: 0.6;
    }
  }

  &__lang-list {
    font-size: 14px;
    position: absolute;
    top: 100%;
    right: 0;
    padding-top: rem-calc(18);
    transition: opacity 1000ms;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    pointer-events: none;
    opacity: 0;
    color: $color-2;

    @media(max-width: $lg) {
      top: auto;
      bottom: 100%;
      text-align: center;
      padding-bottom: rem-calc(40);
    }

    a {
      display: block;
      padding: rem-calc(12 0);
      transition: opacity $time-sm;
      opacity: 0.5;

      @media(max-width: $lg) {
        padding: rem-calc(25 0);
      }

      &.active {
        opacity: 1;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__nav-btn--lang {
    position: relative;
    display: none;
    transition: opacity $time-sm;

    span {
      position: relative;
      display: inline-block;

      &::after {
        position: absolute;
        right: 1px;
        bottom: -0.15em;
        left: 0;
        height: 1px;
        content: '';
        background: $color-1;
      }
    }

    &.active {

      span {
        color: $color-2;

        &::after {
          background: $color-2;
        }
      }

      & + .header__lang-list {
        pointer-events: auto;
        opacity: 1;
      }
    }
  }

  &__nav-btn--burger {
    transition: opacity $time-sm;

    svg {
      width: 18.2px;
      height: 16px;

      path {
        transition: opacity $time-sm;
      }

      path:nth-child(1) {
        opacity: 1;
      }

      path:nth-child(2) {
        opacity: 0;
      }
    }

    &.active {

      svg {

        path:nth-child(1) {
          opacity: 0;
        }

        path:nth-child(2) {
          opacity: 1;
        }
      }
    }
  }

  &__nav-btn--configure {

    span {
      transition: opacity $time-sm;

      @media(max-width: $md) {
        display: none;
      }
    }

    svg {
      width: 1.24em;
      height: 1.24em;
      margin: 0.3rem 0.4rem 0.3rem 0;
      fill: $color-1;
      transition: transform 1000ms;
    }

    &.small {

      span {
        opacity: 0;
      }
    }
  }

  // resize header

  &.small {
    .header__inner {
      transform: translate3d(0, rem-calc(-27), 0);
    }

    .logo {
      transform: scale(0.85);

      @include target-ie11 {
       transform: none;
      }
    }
  }

  // style header
  &.white {

    .header__nav-list {
      color: $color-2;
    }

    #svg-logo, #svg-vispring {
      fill: $color-2;
    }

    .header__nav-btn svg {
      fill: $color-2;
    }

    .header__nav-btn--lang span::after {
      background: $color-2;
    }
  }

  &.configurator {

    .hide-on-configurator {
      opacity: 0;
      pointer-events: none;

      button {
        pointer-events: none;

      }
    }

    .header__nav-btn--configure {
      pointer-events: none;

      span {
        opacity: 0;
      }

      svg {
        transform: rotate(180deg);
      }
    }
  }
}

// show items after preloader

body.content-visible {

  .header__nav-btn {
    pointer-events: auto;
  }

  .header__nav-list {
    opacity: 1;
  }
}
