.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  position: relative;
  transition: transform $time-md, opacity $time-sm;

  &.animated {
    pointer-events: auto;

    &:hover {
      opacity: 0.6;
    }
  }

  #svg-logo {
    width: rem-calc(216);
    height: rem-calc(31);
    fill: $color-1;
    transform: translate3d(0, calc(50vh - 4rem), 0) scale(1.8);
    opacity: 0;

    @include target-ie11 {
    transform: translate3d(0, 40vh, 0) scale(1.8);
    }

    @media(max-width: $md) {
      width: 140px;
    }
  }

  #svg-vispring {
    fill: $color-1;
    margin-top: rem-calc(50);
    width: rem-calc(91);
    height: rem-calc(29);
    transform: translate3d(0, calc(50vh - 4rem), 0);
    opacity: 0;

    @include target-ie11 {
    transform: translate3d(0, 40vh, 0);
    }
  }
}

// after preloader
body.content-visible {
  .logo {
    pointer-events: auto;
  }

  #svg-vispring {
    display: none;
  }
}
